{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content %}

	<section>
		<h1 style="padding : 3vh 0;">
			Bienvenue sur le panel admin de MAINBOOK !</h1>

		<p>Vous pouvez revenir à tout moment sur cette documentation en cliquant sur la maison.</p>
		<p>
			Possibilité d'agrandir/réduire le menu en cliquant sur la bordure de gauche.</p>
		<h2>
			Comment préparer un ouvrage et entrer les informations nécessaires ?
		</h2>


		<h4>1/ Créer une catégory (Roman, nouvelles, sf, policier..) </h4>
		<p>
			Rendez-vous dans la section "Article" puis selectionner la rubrique "Catégorie".
		</p>
		<p>
			Dans cette rubrique vous avez plusieurs possibilités :
		</p>
		<ul>
			<li>Création d'une nouvelle catégorie -> Bouton "Créer Catégorie"</li>
			<ul>
				<li>Entrez les informations requises</li>
			</ul>
			<li>Modification d'une catégorie -> bouton "..." puis "Modifier"</li>
			<li>Suppression d'une catégorie -> bouton "..." puis "Supprimer" (Veillez à ce qu'aucun livre ne soit associé à la catégorie, sinon ERREUR)</li>
		</ul>


		<h4>2/ Mettre en ligne le livre</h4>
		<p>
			Rendez-vous dans la section "Article" puis selectionner la rubrique "Livres".
		</p>
		<p>
			Dans cette rubrique vous avez plusieurs possibilités :
		</p>
		<ul>
			<li>Création d'un nouveau livre -> Bouton "Créer livre"</li>
			<ul>
				<li>Entrez les informations requises</li>
				<li>Image sous format : jpeg, jpg, png uniquement</li>
			</ul>
			<li>Modification d'un livre -> bouton "..." puis "Modifier"</li>
			<li>Suppression d'un livre -> bouton "..." puis "Supprimer"</li>
		</ul>

		<h2>
			Les contraintes :
		</h2>
		<p>Plusieurs contraintes ont été définies concernant le nombre de caractères de certains champs, pour un visuel propre au format mobile.</p>
		<ul>
			<li>
				Le champ "Titre du livre" est limité à
				<b>255</b>
				caractères.</li>
			<li>
				Les images ne peuvent pas dépasser les 2Mo.
			</li>
			<li>
				<b>Toujours</b>
				avoir une catégorie associé à un livre.
			</li>
		</ul>

	</section>

{% endblock %}
