<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Bienvenue sur notre site</title>
</head>
<body>
    <div style="max-width: 600px; margin: auto; padding: 20px; background-color: #ffffff; border-radius: 8px; box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); font-family: Arial, sans-serif;">
        <h1 style="font-size: 26px; font-weight: bold; color: #f97316; text-align: center;">Vous venez de vous inscrire au site MAINBOOK</h1>
        <div style="margin-top: 20px; line-height: 1.6;">
            <p>
                <strong style="color: #333;">Nom:</strong>
                <span style="color: #555;">{{ lastName }}</span>
            </p>
            <p>
                <strong style="color: #333;">Prénom:</strong>
                <span style="color: #555;">{{ firstName }}</span>
            </p>
            <p>
                <strong style="color: #333;">@Mail:</strong>
                <span style="color: #555;">{{ userEmail }}</span>
            </p>
        </div>
    </div>
</body>
</html>
